#a{
    background-color: palevioletred;
    border-radius: 30px;
}
#b{
    border-radius: 30px;
}
#n{
    border-radius: 30px;
}
td{ 
    border-radius: 30px;
}
#e{
    background-color: black;
    color: whitesmoke;
}